body, html {
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  background-color: #F2F1F1;
  color: #333333;
 
}
* {
  -webkit-overflow-scrolling: touch;
}
h3.borderBtn:hover { 
  color: white !important;
  background-color: #B52637 !important;
  border-color:#B52637 !important;
  transition: all .2s !important;
 }
h3:hover { 
 color: #B52637 !important;
 transition: all .2s !important;
 
}
.zoom:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); ; 
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
  transition: all .2s !important;
}
.navH3{
  z-index: 3;
  position: relative;
}
h3{
 display:inline;
 padding: .2em .6em .2em .6em;
 margin: 0 0 0 1em;
 font-family: 'Montserrat', sans-serif;
  font-size: 1em;
 color: #333333;
 font-weight: 300;
 cursor: pointer;
 z-index: 3;


}
.nameLogo{
  
  cursor: pointer;
  position: relative;
  
  z-index: 3;
}
#greenSock2{
  position: relative;
  visibility: hidden;
}
#greenSock3{
  position: relative;
  visibility: hidden;
}

#greenSock4{
  position: relative;
  visibility: hidden;
}

#greenSock5{
  position: relative;
  visibility: hidden;
  
}

h1{
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
  font-size: 2.5em;
  color: #333333;
  font-weight: 300;
}
h2{
  font-family: 'Merriweather', serif;
  font-size: 2em;
  color: #333333;
  font-weight: 300;
  font-style: italic;

}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #868686;
  font-weight: 300;
  line-height: 29px;
}
.titleText{
  font-family: 'Merriweather', sans-serif;
  font-size: 1em;
  color: #868686;
  font-weight: 300;
  font-style: italic;
}
.aboutHeading{
  font-family: 'Montserrat', sans-serif;
  color:#333333;
  font-weight: bolder;
  
}
.aboutText{
  font-family: 'Montserrat', sans-serif;
  color:#333333;
}
.skills p{
  margin-bottom: 10px;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.1em;
  color: #868686;
  font-weight: 100;
  font-style: italic;
}
.push{
  height: 6.5em;
  background-color:#F2F1F1;
}
.pushContact{
  height: 10em;
  background-color:#F2F1F1;
}
.contactSide{
  margin-bottom: 10px;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.1em;
  color: #868686;
  font-weight: 100;
  font-style: italic;
}
.formWrap{
  width: 100%
}

.tag{
  font-family: 'Merriweather', sans-serif;
  font-size: 1em;
  color: #2E3192;
  font-style: italic;
  font-weight: bold;
}
.dontShowyet{
  display: none !important;
}
.dontShowyet2{
  display: none !important;
}
 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
 h1{
        /* color: red; */
      }
      .nameLogo{
        /* width: 100% !important; */
      }
      .nav{
        /* margin-top: 5px !important; */
      }
      .line{
        
       display: none !important;
        
        
      }
      .aboutRow{
        padding-right: 2em !important;
      }
      .pushContact{
        height: 7.9em !important;
      }
      .detailImg{
        height: 250px !important;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      h1{
        /* color: blue; */
        font-size: 2em !important;
      }
      .noTop{
        margin-top: 2em !important;
      }
     
      .nav h3{
        margin: 0 2px 0 2px !important;
      }
      .insideFooter h3{
        margin: 0 2px 0 2px !important;
      }
      .nav {
        text-align: right !important;
      }
      .nav .noPad{
        margin-left: 1em !important;
      }

      /* Projects */
      .projectImg{
        width: 100% !important;
        height: 300px !important;
      }
      .projectText{
        width: 100% !important;
        margin-bottom: 1em !important;
      }
      .dontShow{
        display: none !important;
      }
      h2{
        margin-top: 0 !important;
      }
      .tag{
        margin-bottom: 0 !important;
      }
     
      p{
        margin: 0 !important;
      }
      .dontShowyet{
        display: inline !important;
      }

      /* about me */
      .aboutRow{
        padding-right: 2em !important;
      }
       .pushContact{
        height: 15.5em !important;
      }
    }


    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 600px) {
      h1{
        /* color: green; */
        text-align: center !important;
       
        margin: 0 !important;
      }
      .titleText{
        margin-top: 1em !important;
      }
     
      
      .line{
        
        margin-left: -55% !important;
        
        
      
      }
      .nav {
        text-align: center !important;
      } 
      .nameLogo{
        width: 100% !important;
      }
      .nav{
        margin-top: 3em !important;
        width:100% !important;
      }
      .nav .noPad{
        margin-left: 0 !important;
      }
      .nav h3{
        font-size:1.2em !important;
      }
      .insideFooter{
        text-align:center !important;
        font-size:1.2em !important;
      }
      .noTop{
        margin-top: 1em !important;
      }
      aboutText{
        width: 50% !important;
      }
      .dontShowyet2{
        display: inline !important;
        margin-bottom: 1em !important;
      }
      .dontShow2{
        display: none !important;
      }
      .noMargin{
        margin: 0 !important;
        padding-top: 0 !important;

      }
      .aboutRow{
        margin-bottom: 0 !important;
      }
      .skills p{
        margin-bottom: 10px !important;
      }
      .field{
        width: 85% !important;
        margin:.5em 2em .5em 2em !important;
       
      }
      .btn{
        float: none !important;
        margin:.5em 2em .5em 2em !important;
        width: 40% !important;
      }
      .pushContact{
        height: 1em !important;
      }
      .push{
        height: 1em !important;
      }
      .detailImg{
        height: 150px !important;
      }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 460px) {
      h1{
        /* color: orange; */
      }
      .line{
        
        display: none !important;
        
        
      }
      .nav h3{
        font-size:.9em !important;
      }
      .nav{
        margin-top: 2em !important;
      }
      .field{
        width: 85% !important;
        margin:.5em 2em .5em 1em !important;
       
      }
    }

    @media only screen and (max-width : 320px) {
      h1{
        /* color: purple; */
      }
     
      .nav h3{
        font-size:1em !important;
        margin: .2em  !important;
        padding: .2em !important;
      }
      .field{
        width: 85% !important;
        margin:.5em 1em .5em .5em !important;
       
      }
    }

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }




@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}